<h1>Editing language lookup</h1>

<%= render "form", language_lookup: @language_lookup %>

<br>

<div>
  <%= link_to "Show this language lookup", @language_lookup %> |
  <%= link_to "Back to language lookups", language_lookups_path %>
</div>
